# organizations child directories
organizations/fabric-ca/
organizations/ordererOrganizations/
organizations/peerOrganizations/

# channel-artifacts
channel-artifacts/

# exclude everything in logs
logs/*

# but logs should be there
!logs/.gitkeep

# system-genesis-block
system-genesis-block/

# tar files
*.tar
*.tar.gz






